# App
NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
JWT_SECRET=change-this-in-real-env
JWT_EXPIRES_IN=15m

# Game
STARTER_PACK_SLUG=bronze_pack
STARTER_PACK_COUNT=5
PACK_OPEN_CREATURE_REWARDS=1
PACK_OPEN_ITEM_REWARDS=1

# PostgreSQL (docker-compose.dev.yml)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=pokefifa
DATABASE_USER=pokefifa
DATABASE_PASSWORD=pokefifa
DATABASE_URL=postgresql://pokefifa:pokefifa@localhost:5432/pokefifa

# Mail (MailDev in docker-compose.dev.yml)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
MAIL_FROM=no-reply@pokefifa.local

# MailDev UI
MAILDEV_WEB_URL=http://localhost:1080
